{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

fishPath="{{ lookPath "fish" }}"

grep -qxF "${fishPath}" "/etc/shells" || echo "${fishPath}" | sudo tee -a /etc/shells
chsh -s "${fishPath}"
{{ end -}}
