{{ protonPass "pass://Personal/GIT Config/email" }} namespaces="git" {{ protonPass "pass://Personal/SSH Key Personal/public key" }}
{{ protonPass "pass://Work/GIT Config/email" }} namespaces="git" {{ protonPass "pass://Work/SSH Key Work/public key" }}
