{{ onepasswordRead "op://personal/GIT Config/email" }} namespaces="git" {{ onepasswordRead "op://personal/SSH Key/public key" }}
{{ onepasswordRead "op://work/GIT Config/email" }} namespaces="git" {{ onepasswordRead "op://work/SSH Key/public key" }}
