{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

if test -f "/opt/homebrew/opt/docker-buildx/bin/docker-buildx"; then
    mkdir -p ~/.docker/cli-plugins
    ln -sfn /opt/homebrew/opt/docker-buildx/bin/docker-buildx ~/.docker/cli-plugins/docker-buildx
fi
{{ end -}}
