{{ if and (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ $packagesTaps := .packages.darwin.all.taps }}
{{ $packagesBrews := .packages.darwin.all.brews }}
{{ $packagesCasks := .packages.darwin.all.casks }}
{{ $packagesPorts := .packages.darwin.all.ports }}
{{ $packagesVscode := .packages.vscode.all }}

{{- if .isWork -}}
    {{- if hasKey .packages.darwin "work" -}}
        {{- if hasKey .packages.darwin.work "taps" -}}
            {{- $packagesTaps = concat $packagesTaps .packages.darwin.work.taps -}}
        {{- end -}}
        {{- if hasKey .packages.darwin.work "brews" -}}
            {{- $packagesBrews = concat $packagesBrews .packages.darwin.work.brews -}}
        {{- end -}}
        {{- if hasKey .packages.darwin.work "casks" -}}
            {{- $packagesCasks = concat $packagesCasks .packages.darwin.work.casks -}}
        {{- end -}}
        {{- if hasKey .packages.darwin.work "ports" -}}
            {{- $packagesPorts = concat $packagesPorts .packages.darwin.work.ports -}}
        {{- end -}}
    {{- end -}}
    {{- if hasKey .packages.vscode "work" -}}
        {{- $packagesVscode = concat $packagesVscode .packages.vscode.work -}}
    {{- end -}}
{{- end -}}
{{- if .isPersonal -}}
    {{- if hasKey .packages.darwin "personal" -}}
        {{- if hasKey .packages.darwin.personal "taps" -}}
            {{- $packagesTaps = concat $packagesTaps .packages.darwin.personal.taps -}}
        {{- end -}}
        {{- if hasKey .packages.darwin.personal "brews" -}}
            {{- $packagesBrews = concat $packagesBrews .packages.darwin.personal.brews -}}
        {{- end -}}
        {{- if hasKey .packages.darwin.personal "casks" -}}
            {{- $packagesCasks = concat $packagesCasks .packages.darwin.personal.casks -}}
        {{- end -}}
        {{- if hasKey .packages.darwin.personal "ports" -}}
            {{- $packagesPorts = concat $packagesPorts .packages.darwin.personal.ports -}}
        {{- end -}}
    {{- end -}}
    {{- if hasKey .packages.vscode "personal" -}}
        {{- $packagesVscode = concat $packagesVscode .packages.vscode.personal -}}
    {{- end -}}
{{- end -}}

brew bundle cleanup --install --force --file=/dev/stdin <<EOF
{{ range $packagesTaps }}
{{- if kindIs "map" . -}}
tap {{ .name | quote }}, trusted: true{{ if hasKey . "url" }}, {{ .url | quote }}{{ end }}
{{ else -}}
tap {{ . | quote }}, trusted: true
{{ end }}
{{- end }}
{{ range $packagesBrews -}}
brew {{ . | quote }}
{{ end -}}
{{ range $packagesCasks -}}
cask {{ . | quote }}
{{ end -}}
{{ range $packagesVscode -}}
vscode {{ . | quote }}
{{ end -}}
EOF

{{ range $packagesPorts }}
sudo port install -N {{ . }}
{{- end }}

{{ end -}}
