{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -eufo pipefail

sudo scutil --set ComputerName {{ if .isWork }}macbook-w{{ else }}macbook-p{{ end }}
sudo scutil --set HostName {{ if .isWork }}macbook-w{{ else }}macbook-p{{ end }}
sudo scutil --set LocalHostName {{ if .isWork }}macbook-w{{ else }}macbook-p{{ end }}
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string {{ if .isWork }}macbook-w{{ else }}macbook-p{{ end }}
{{- end -}}
