[user]
	name = {{ onepasswordRead "op://personal/GIT Config/name" }}
	email = {{ onepasswordRead "op://personal/GIT Config/email" }}
	signingkey = {{ onepasswordRead "op://personal/GIT Config/signingkey" }}

[core]
  sshCommand = "ssh -i ~/.ssh/id_ed25519_personal.pub -F /dev/null"

[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = ~/.ssh/allowed_signers
