#!/usr/bin/env fish

function update --description "Update"
    # authenticate the sudo session upfront so later sudo calls don't prompt mid-run
    sudo -v

    if command -qa brew
        brew update
        brew upgrade
    end
    if command -qa port
        sudo port selfupdate
        sudo port upgrade outdated
    end

    if command -qa tldr
        tldr --update
    end

    {{ if eq .chezmoi.os "darwin" -}}
    sudo softwareupdate --install --all
    {{ end }}
end
